<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
  <section>
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://velog.velcdn.com/images/ohgil/post/862d57da-af62-40f8-b32a-c8f200d0b6fb/image.png"
                 alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3" th:text="${username}"></h5>
          </div>
          <div class="col-6">
            <a class="btn btn-secondary" th:href="@{/user/modify/password}">비밀번호 변경</a>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <h5>최근 게시글</h5>
        <div class="card mb-4">
          <div class="card-body">
            <th:block th:each="question: ${questionList}">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0" th:text="${question.subject}"></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0" th:text="${question.createDate}"></p>
                </div>
              </div>
            </th:block>
          </div>
        </div>
        <h5>최근 답변</h5>
        <div class="card mb-4">
          <div class="card-body">
            <th:block th:each="answer: ${answerList}">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0" th:text="${answer.content}"></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0" th:text="${answer.createDate}"></p>
                </div>
              </div>
            </th:block>
          </div>
        </div>
        <h5>최근 댓글</h5>
        <div class="card mb-4">
          <div class="card-body">
            <th:block th:each="comment: ${commentList}">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0" th:text="${comment.content}"></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0" th:text="${comment.createDate}"></p>
                </div>
              </div>
            </th:block>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</div>
<script layout:fragment="script" type='text/javascript'>
</script>
</html>